# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Leon Punya\BINUS\Kuliah\Semester 2\COMP6699_Object Oriented Programming\OOP_Final_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
